.home-container {
  padding: 24px;
}

.home-title {
  font-size: 24px;
  font-weight: 600;
}

/* Tablet+ */
@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }

  .home-title {
    font-size: 32px;
  }
}
